@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);

  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Normally default font size 16px for most of the browsers. So 16px = 1rem, but it makes calculations difficult  */
  font-size: 62.5%;
  /* This makes 1rem = 10px, so the calculation becomes easy. Like 18px = 1.8rem, 33px = 3.3rem, etc. */
}

body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 65rem;
  width: 100%;
  padding: 14rem 2.5rem 0;
  z-index: 1;
  background-color: var(--dark-cyan);
  overflow: hidden;
  position: relative;
}

.image-bg-top,
.image-bg-bottom {
  position: absolute;
  z-index: -1;
}

.image-bg-top {
  right: 51%;
  bottom: 34%;
}

.image-bg-bottom {
  top: 48%;
  left: 50%;
}

.card {
  background-color: #fff;
  width: 32.5rem;
  margin: 0 auto;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 14rem;
  background-image: url("images/bg-pattern-card.svg");
}

.main {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
}

.user-image {
  border: 0.5rem solid #fff;
  border-radius: 5rem;
  margin-top: -5.3rem;
  margin-bottom: 1.4rem;
}

h2 {
  font-size: 1.8rem;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 1rem;
}

.age {
  font-weight: lighter;
  color: var(--dark-gray);
}

.location {
  font-size: 1.4rem;
  color: var(--dark-gray);
}

.socials {
  border-top: 0.1rem solid hsla(0, 0%, 59%, 0.25);
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 2.4rem;
}

.social {
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  color: var(--very-dark-desaturated-blue);
}

.description {
  font-size: 1rem;
  color: var(--dark-gray);
  letter-spacing: 0.1px;
}
